{% extends 'base.html' %}
{% load static %}
{% block title %}Contact List{% endblock %}
{% block content %}
        <!-- Left section: Contacts Table -->
<div class="main_container">
    <div class="contacts-table">
        <h2 class="text-center">Contacts</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}

                <a href="{% url 'about_contact' contact.id %}">
                <tr onclick="window.location='{% url 'about_contact' contact.id %}';" style="cursor: pointer;" onmouseover="toggleDetails(this)">
                    <td>
                        <img src="{{ contact.photo.url }}" alt="Contacts_photo" width="50">
                    </td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>

                        <form method="post" action="{% url 'contact_list' %}">
                            {% csrf_token %}
                        <input type="hidden" name="id" value="{{ contact.id }}">
                        <button class="deleteButton" type="submit">Видалити</button>
                        </form>

                    </td>
                </tr>
                    </a>
                <!-- ----------------------------------------------------------------------------------------- -->
                         <tr id="details-{{ contact.id }}" style="display: None;">
                                <td colspan="6">
                                    <div>
                                        <a href="#">Call</a>
                                        <a href="#">Write</a>
                                    </div>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="something">
        <span>
        <h1>Create</h1><a class="nav-link active" href="add_contact">
  <svg class="svg-style" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 100 100"
     width="30" height="30">
    <use xlink:href="/static/svg/icons.svg#person-plus"></use>
</svg>
            <h1><a class="nav-link" href="edit_contact">Edit</a></h1>

</a>

        </span>
    </div>
</div>


{% endblock %}